* {
    margin: 0px;
    padding: 0px;
}

.navbar-main {
    background-image: url(../../assets/reactjs-icon2.svg);
    height: 368px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #282D35;
}

.navbar-title {
    margin-left: 27px;
    color: #FFFFFF;
    font-size: 39.06px;
    margin-top: 34px;
    margin-bottom: 20px;
}

.navbar-list {
    margin-top: 20px;
    padding-left: 74px;
}

ol {
    list-style-image: url(../../assets/Ellipse1.svg);
}

li {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    padding-left: 8px;
}